.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img{
  height: 20rem;
}

.fighter-preview___infoCard{
  background: #ffdfa7;
  border: 5px solid #ca9650;
  padding: 10px 35px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.fighter-preview___name{
  text-align: center;
}